<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>タスク</th>
      <th>状態</th>
    </tr>
  </thead>
  <tbody>
    <% tasks.each do |task| %>
    <% user = task.user %>
      <tr>
        <td><%= link_to task.id, task %></td>
        <td><%= task.content %></td>
        <td><%= task.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>